*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.menu-container {
    
    font-weight:bold;
    font-style:italic;
     /* Red */
    color: white;
    background-color:red;
    padding: 20px 0;
    text-align: right;
    display: flex;
    justify-content:center;
  }

  .signup
  {
    margin-left:auto;
  }

  .links
  {
    display:flex;
    justify-content: flex-end;
  }

  .signup{
    margin-left: 1000px;
  }

  .header-container
  {
    display: flex;
    justify-content: center;
  }

  .menu
  {
    font-size: 25px;
    text-decoration:underline;
    display: flex;
    justify-content: space-between;
  }